# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user
*.log


# User-specific folders
/.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
